<form action="/movies/suggest" method="post">

  <h2>Suggest Movie</h2>
  
  <p>
  <label for="name">Movie Title</label><br />
  <input type="text" name="name" value="" id="name" />
  </p>
  
  <p>
  <label for="released">Released</label><br />
  <input type="text" name="released" value="" id="released" />
  </p>
  
  <p>
  <label for="runtime">Runtime</label><br />
  <input type="text" name="runtime" value="" id="runtime" />
  </p>
  
  <p>
  <label for="rating">Rating</label><br />
  <input type="text" name="rating" value="" id="rating" />
  </p>
  
  <p>
  <label for="categories">Categories</label><br />
  <input type="text" name="categories" value="" id="categories" />
  </p>
  
  <p>
  <label for="recommendations">Recommendations</label><br />
  <textarea name="recommendations" rows="" cols="" id="recommendations"></textarea>
  </p>
  
  <p><input class="btn btn-lg btn-primary" type="submit" value="Submit"></p>
  
</form>